<nav id="sidebar" class="fixed-top">
  <div class="sidebar-header" routerLink="/inbox">
    <h3><i class="far fa-envelope-open"></i>My MailBox</h3>

    <strong>MA</strong>
  </div>
  <ul class="nav flex-column list-unstyled components">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/inbox">
        <i class="far fa-envelope"></i>Inbox
        <span class="unReadCount">{{ unReadCount }}</span></a
      >
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/sent">
        <i class="far fa-paper-plane"></i>Sent</a
      >
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/trash">
        <i class="fas fa-trash-alt"></i>Trash</a
      >
    </li>
  </ul>
</nav>
